* { margin: 0; padding: 0; }
body { font-size: 12px; font-family: tahoma,arial,'微软雅黑' }
html { background: #15100A; }
ol, ul {list-style: none; }
a { color: #666; text-decoration: none; out-line: none; }
a:hover { color: #DC351A; text-decoration: underline; }
img { border: 0; }
select { border-radius: 2px; border: 1px solid #e0dfdd; background: #FFF; }
button, input { line-height: normal; *overflow: visible; }
textarea { overflow: auto; vertical-align: top; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
.clear10 { clear: both; height: 10px; overflow: hidden; font-size: 0; }
.clearfix{ overflow: hidden; _zoom: 1; }

.box { width: 1020px; margin: 0 auto; }
.bg { background: url(../images/b1.jpg) no-repeat; }
.header { height: 108px; overflow: hidden; zoom: 1; padding-left: 75px; }
.header a { float: left; width: 108px; height: 96px; margin-top: 19px;}
.header a:hover { background-repeat: no-repeat;background-image:url(../images/menu.png); }
#logo { width: 199px; height: 177px; left: 530px; top: 0; position: absolute; }
.m1:hover { background-position: -108px -196px}
.m2 { margin-left: 9px; }
.m2:hover { background-position: -0px -196px}
.m3 { margin-left: 8px; }
.m3:hover { background-position: -108px -98px}
.m4 { margin-left: 168px; }
.m4:hover { background-position: -0px -98px}
.m5 { margin-left: 7px; }
.m5:hover { background-position: -108px -0px}
.m6 { margin-left: 10px; }
.m6:hover { background-position: -0px -0px}

.man { top: 70px; position: absolute; background: url(../images/man.png) no-repeat; width: 463px; height: 648px; }
.index { height: 800px; }

.footer { padding: 10px 0; margin-top: 10px; color: #999; overflow: hidden; zoom: 1; }
.footer .gh { float: left; margin-left: 200px; width: 44px; height: 47px; background: url(../images/gh.jpg) no-repeat; }
.footer .footerinfo { float: left; margin-left: 20px; line-height: 25px; }
.pagination { padding: 3px; font-size: 12px; margin-top: 5px; text-align: center;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #CCC; text-decoration: none; color:#DC351A;}
.pagination a:hover, div.pagination a:active { border: 1px solid #DC351A; background-color: #DC351A; color: #FFF; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #DC351A; font-weight: bold; background-color: #DC351A; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

.showmessage { width: 300px; margin: 0 auto; border: 1px solid #8EB3E7; margin-top: 100px; }
.showmessage h2 { height: 25px; line-height: 25px; background: #4C587D; color: #FFF; font-size: 14px; text-align: center; border-bottom: 1px solid #8EB3E7; }
.showmessage p { padding: 10px 15px; }