* { margin: 0; padding: 0; }
body { font-size: 12px; font-family: tahoma,arial,'微软雅黑';  }
html { background: #07040A; }
ol, ul {list-style: none; }
a { color: #666; text-decoration: none; out-line: none; }
a:hover { color: #DC351A; text-decoration: underline; }
img { border: 0; }
select { border-radius: 2px; border: 1px solid #e0dfdd; background: #FFF; }
button, input { line-height: normal; *overflow: visible; }
textarea { overflow: auto; vertical-align: top; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
.clear10 { clear: both; height: 10px; overflow: hidden; font-size: 0; }
.clearfix{ overflow: hidden; _zoom: 1; }

.box { width: 960px; margin: 0 auto; }
.body_left { background: url(../images/body_left.jpg) no-repeat right top;}
.body_right { background: url(../images/body_right.jpg) no-repeat left top;}
.header { height: 354px; overflow: hidden; zoom: 1; padding-left: 75px; background: url(../images/c1.jpg) no-repeat; }
.header a { float: left; width: 85px; height: 24px; margin-top: 18px; display: inline; background-image:url(../images/menu.png); background-repeat: no-repeat; background-position: -1000px -1000px }
#logo { width: 199px; height: 177px; left: 385px; top: 1px; position: absolute; }
#down { right: 60px; top: 230px; position: absolute; z-index: 10;background-repeat: no-repeat; width:424px; height:83px; background-position: 0 0; background-image: url(../images/down.tps.png); }
.m1 { margin-left: 7px; }
.m1:hover { background-position: -85px 0}
.m2 { margin-left: 33px; }
.m2:hover { background-position: 0 -24px}
.m3 { margin-left: 32px; }
.m3:hover { background-position: 0 0}
.m4 { margin-left: 156px; }
.m4:hover { background-position: -170px -24px}
.m5 { margin-left: 36px; }
.m5:hover { background-position: -85px -24px}
.m6 { margin-left: 29px; }
.m6:hover { background-position: -170px 0}

.c2 { background: url(../images/c2.jpg) no-repeat top left; overflow: hidden; zoom: 1; }
.left_menu { float: left; width: 240px; margin-left: 30px; padding-top: 20px; display: inline; }
.left_menu .menu { overflow: hidden; zoom: 1; padding-left: 15px; }
.left_menu .menu a { padding-top: 28px; width:185px; height:29px; text-align: center; font-size: 16px; color: #FFF; float: left; margin-bottom: 5px; margin-left: 10px; background-repeat: no-repeat;background-image: url(../images/down.tps.png); font-family: '微软雅黑'; }
.left_menu .menu a:hover { color: #FFF; text-decoration: none; }
.left_menu .iphone { background-position: 0 -189px }
.left_menu .ipad { background-position: -185px -189px }
.left_menu .android { background-position: -0px -246px }
.left_menu a.gamepay { width:206px; height:78px; background-position: -206px -83px }
.left_menu a.gamepay:hover { background-position: -0px -83px }
.left_menu .service { width: 196px; height: 220px; line-height: 1.35; font-size: 13px; font-weight: 600; padding: 40px 0 0 40px; background: url(../images/service.png) no-repeat; }
.left_menu .service .tel { color: #FADC82; font-size: 14px; padding-left: 20px; }
.left_menu .service .line { padding-top: 10px; }
.left_menu .qst { margin-left: 5px; width: 228px; height: 199px; background: url(../images/qst.png) no-repeat; }
.left_menu .qst .more { padding: 20px 20px 14px 0; float: right; color: #FEE1A7; font-size: 16px; }
.left_menu .qst .q a { float: left; width: 183px; padding-left: 25px; height: 30px; line-height: 30px; font-size: 14px; overflow: hidden; color: #B72927; }
.left_menu .qst .a a { float: left; width: 183px; padding-left: 25px; height: 30px; line-height: 30px; font-size: 14px; overflow: hidden; color: #4B301D; }

.right_content { float: left; margin-left: 10px; width: 670px; position: relative; display: inline; }
.cbg { margin-top: 25px; float: left; width: 647px; height: 745px; padding-top: 20px; background: url(../images/cbg.png) no-repeat; }
.cbg .title { float: left; margin-left: 280px; display: inline; font-size: 18px; color: #950407; filter: Dropshadow(offx=1,offy=0,color=#E0BA79) Dropshadow(offx=0,offy=1,color=#E0BA79) Dropshadow(offx=0,offy=-1,color=#E0BA79) Dropshadow(offx=-1,offy=0,color=#E0BA79); text-shadow: 1px 0 0 #E0BA79, 0 1px 0 #E0BA79, -1px 0 0 #E0BA79, 0 -1px 0 #E0BA79; }
.cbg .leader { float: right; display: inline; margin-right: 30px; margin-top: 5px; font-size: 14px; color: #FFF; text-shadow: 1px 1px 1px #000 }
.cbg .leader a { color: #FFF; }
.cbg .jScrollPaneContainer { margin-top: 50px; }
.cbg .jScrollPaneTrack { background: #563E26; }
.cbg .jScrollPaneDrag { background: #E8CE93; }
.cbg .scroll { width: 570px; margin: 35px 0px 0 35px; }
.cbg .line { border-bottom: 2px #000 dashed; font-size: 16px; padding: 5px 0; overflow: hidden; zoom: 1; margin-right: 10px; }
.cbg .line a { float: left; color: #4C2B18; }
.cbg .line span { float: right; color: #4C2B18; }
.cbg .dtitle { float: left; display: inline; margin-left: 35px; font-size: 18px; color: #950407; filter: Dropshadow(offx=1,offy=0,color=#E0BA79) Dropshadow(offx=0,offy=1,color=#E0BA79) Dropshadow(offx=0,offy=-1,color=#E0BA79) Dropshadow(offx=-1,offy=0,color=#E0BA79); text-shadow: 1px 0 0 #E0BA79, 0 1px 0 #E0BA79, -1px 0 0 #E0BA79, 0 -1px 0 #E0BA79; }
.cbg .ptitle { text-align: center; font-size: 18px; color: #950407; filter: Dropshadow(offx=1,offy=0,color=#E0BA79) Dropshadow(offx=0,offy=1,color=#E0BA79) Dropshadow(offx=0,offy=-1,color=#E0BA79) Dropshadow(offx=-1,offy=0,color=#E0BA79); text-shadow: 1px 0 0 #E0BA79, 0 1px 0 #E0BA79, -1px 0 0 #E0BA79, 0 -1px 0 #E0BA79; }
.cbg .detail, .cbg .qst{ padding-left: 35px; width: 570px; height: 600px; }
.cbg .qst .q { padding: 5px 0; color: #B72927; font-size: 14px; font-weight: 600; }
.cbg .qst .a { color: #4B301D; font-size: 14px; font-weight: 600; }

.cbg .paybtn { margin: 40px 20px 0 20px; float: left; width:245px; height:90px; background-image:url(../images/paybut.png); background-repeat: no-repeat; }
.cbg .pay1 { background-position: -245px 0px }
.cbg .pay1:hover { background-position: 0px 0px }
.focusbg { float: left; margin-top: 20px; display: inline; width: 354px; height: 276px; background: url(../images/focus.png) no-repeat; position: relative; }
.gamefoucs { width: 322px; height: 240px; margin-top: 14px; margin-left: 17px; }
.num { position: absolute; right: 30px; bottom: 25px; z-index: 10;}
.num a { width: 18px; height: 18px; color: #FFF; float: left; text-align: center; margin-left: 15px; cursor: pointer; background-image:url(../images/index.png); background-repeat: no-repeat; background-position: -108px -0px; display: inline; }
.num a.cur { background-position: -90px -0px; }
.gamefoucs ul { position: relative; }
.gamefoucs ul li { position: absolute; display: none; }
.gamefoucs ul li img { width: 322px; height: 212px; border-radius: 10px; }

.newsbg { float: left; margin-left: 3px; width: 280px; height: 232px; background: url(../images/news.png) no-repeat; padding-top: 66px; padding-left: 20px; position: relative; }
.newsbg a { float: left; width: 245px; padding-left: 10px; color: #311A0C; font-size: 14px; }
.newsbg a:hover { background: url(../images/onnews.png) no-repeat top center; color: #FFF; text-shadow: #000000 1px 1px; text-decoration: none; }
.newsbg a:hover .right { color: #03F6FE; }
.newsbg .left { width: 195px; overflow: hidden; height: 43px; line-height: 43px; }
.newsbg .right { width: 45px; overflow: hidden; height: 43px; line-height: 43px; }
.newsbg .more { position: absolute; top: 40px; right: 30px; width: 50px; height: 20px; }
.newsbg .more:hover{ background: none; }

.res { margin-top: 10px; padding-top: 40px; padding-left: 150px; height: 222px; background: url(../images/res.png) no-repeat; }
.res div { overflow: hidden; zoom: 1; height: 43px; line-height: 43px; margin-bottom: 10px; }
.res a { float: left; width: 132px; font-size: 16px; color: #FDAE6C; overflow: hidden; }
.res .more { width: 60px; text-align: center; }

.cut_pic { height: 210px; padding: 35px 0 0 55px; background: url(../images/shot_bg.png) no-repeat center top; }
#bigDiv { float: left; width: 780px; height: 160px; overflow: hidden; position: relative; }
#myList { position: absolute; left: 0px; right: 0px; z-index: 2; width: 20000px; }
#myList li { float: left; text-align: center; }
#myList li a { float: left; text-align: center; font-size: 14px; text-shadow: #000 1px 1px; }
#myList img { width: 185px; height: 125px; margin: 0 4px; border: 1px solid #000; }
.forward, .backward { float: left; width: 35px; height: 57px; margin-top: 35px; overflow: hidden; zoom: 1; }
.forward a,.backward a { float: left; background-repeat: no-repeat;background-image:url(../images/index.png); width: 35px; height: 57px; text-indent: -999em; }
.forward a { background-position: -8px -57px; }
.forward a:hover { background-position: -8px 0; }
.backward a { background-position: -45px -57px; }
.backward a:hover { background-position: -45px 0; }

.footer { padding: 10px 0; margin-top: 10px; color: #999; overflow: hidden; zoom: 1; }
.footer .gh { float: left; margin-left: 200px; width: 44px; height: 47px; background: url(../images/gh.jpg) no-repeat; }
.footer .footerinfo { float: left; margin-left: 20px; line-height: 25px; }
.pagination { padding: 3px; font-size: 12px; margin-top: 5px; text-align: center;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #A25618; text-decoration: none; color:#563E26; background-color: #E8CE93 }
.pagination a:hover, div.pagination a:active { border: 1px solid #563E26; background-color: #563E26; color: #FFF; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #563E26; font-weight: bold; background-color: #563E26; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #A25618; color: #A25618; background-color: #E8CE93 }

.showmessage { width: 300px; margin: 0 auto; border: 1px solid #8EB3E7; margin-top: 100px; }
.showmessage h2 { height: 25px; line-height: 25px; background: #4C587D; color: #FFF; font-size: 14px; text-align: center; border-bottom: 1px solid #8EB3E7; }
.showmessage p { padding: 10px 15px; }